* {
  margin: 0;
  padding: 0;

  text-decoration: none;
  box-sizing: border-box;
}

.left-side {
  width: 100%;
  background-color: #262626;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .myphoto {
    width: 150px;

    border: solid 3px #fecb00;
    border-radius: 50%;

    margin-top: 30px;
  }

  .back-text {
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
      sans-serif;
    color: #fff;

    .span1 {
      font-size: 18px;
      font-weight: bolder;
    }
    .span2 {
      font-size: 22px;
      margin-left: 5px;
    }
  }
}

.description {
  color: #fff;
}

.links {
  .img {
    background-color: #fff;
    border-radius: 03px;
    width: 25px;
    margin: 3px;
  }
}

.faixa {
  width: 175px;
  height: 1px;
  background-color: #fff;
  margin-bottom: 10px;
}

.tecnologias {
  color: #fff;
  margin-bottom: 10px;
}

.projetos {
  width: 100%;
  height: 100%;

  padding-top: 20px;
  padding-bottom: 20px;

  text-align: center;

  background-color: #fecb00;
}

.contacts {
  width: 100%;
  height: 200px;

  padding-top: 20px;

  text-align: center;

  background-color: #ffffff;
  .links-contacts {
    display: flex;
    justify-content: center;

    .img-contact {
      max-width: 150px;
      height: 50px;

      margin: 50px 5px;
      font-size: 12px;

      img {
        width: 30px;
      }

      a {
        color: #262626;
      }
    }
  }
}

.individual-project {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 10px;
  padding: 15px 0;

  border: solid 1px #393939;

  .content {
    display: flex;

    align-items: center;
    justify-content: center;

    padding: 15px 0;
  }

  .imgProject {
    border: solid 2px #fff;
    display: flex;

    width: 150px;
    height: 150px;
    border-radius: 50%;

    overflow: hidden;
    align-items: center;
    justify-content: center;
    margin: auto 5px;

    img {
      width: 150px;
      border: none;
    }
  }

  .paragraph {
    width: 150px;

    margin: auto 5px;

    font-size: 12px;
    text-align: justify;
  }

  .btn-acessar {
    display: block;

    width: 5rem;
    height: 1.5rem;

    background: #fff;

    border: none;
    border-radius: 5px;

    :hover {
      background: #262626;
      color: #fff;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 5px;

      width: 5rem;
      height: 1.5rem;
      color: #262626;

      :hover {
        background: #373737;
        color: #fff;
      }
    }
  }
}

footer {
  background: #262626;
  color: #fff;

  font-size: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 30px;
}

@media only screen and (min-width: 425px) {
  .left-side {
    .back-text {
      .name {
        .span1 {
          font-size: 25px;
        }
        .span2 {
          font-size: 25px;
        }
      }
    }
  }
  .name {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .description {
    font-size: 22px;
  }

  .links {
    .img {
      background-color: #fff;
      border-radius: 03px;
      width: 35px;
      margin: 3px;
    }
  }

  .tecnologias {
    font-size: 20px;
  }

  .projetos {
    h3 {
      font-size: 30px;
    }
  }

  .individual-project {
    .title {
      font-size: 25px;
    }

    .content {
      .imgProject {
        width: 180px;
        height: 180px;
        border-radius: 50%;

        overflow: hidden;
        align-items: center;
        justify-content: center;
        margin: auto 5px;

        img {
          width: 180px;
          border: none;
        }
      }

      .paragraph {
        width: 200px;

        font-size: 18px;
      }
    }
  }
  .contacts {
    width: 100%;
    height: 200px;

    padding-top: 20px;

    text-align: center;

    background-color: #ffffff;
    .links-contacts {
      display: flex;
      justify-content: center;

      .img-contact {
        max-width: 200px;
        height: 70px;

        margin: 50px 5px;
        font-size: 12px;

        img {
          width: 40px;
        }

        a {
          color: #262626;
          font-size: 18px;
        }
      }
    }
  }

  footer {
    font-size: 18px;

    width: 100%;
    height: 50px;
  }
}
